@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,400;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/* NAVBAR section */
nav{
    position: fixed;
    background-color:#1e8fda;
    padding: 30px;
    width: 1458px;
    z-index: 100;
}
nav a{
    color: rgb(238, 231, 231);
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
    /* border: 2px solid #000000; */
}
.nav-bar{
    position: absolute;
    right: 30px;
    top: 20px;
}


/* INTRO section */
.intro{
    background-color: #5ae898;
    width: 100%;
    height: 600px;
    position: relative;
    z-index: 0;
}

.intro .content{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%,-50%);
} 
.intro .content p{
    width: 60%;
    padding: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 250px;
    margin-left: 30px;
}
.intro .content img{
    width: 40%;
    margin-top: 70px;
    margin-bottom: 70px;
    padding: 30px;
    border-radius: 60px;
    width: auto;
}

/* ABOUT section */
.about{
    background-color: rgb(234, 204, 97);
    width: 100%;
    height: 500px;
}
.about h1{
    padding: 20px;
    padding-left: 700px;
}
.about img{
    width: auto;
    height: 400px;
    position: absolute;
    left: 100px ;
    border-radius: 50px;
}
.about .content{
    width: 600px;
    padding: 20px;
    padding-top: 100px;
    padding-left: 600px;
}


/* SKILLS section */
.skills{
    /* display: flex; */
    background-color: aqua;
}
.skills h1{
    padding: 20px;
    padding-left: 700px;
}
.skill-card{
    display: flex;
    flex-wrap: wrap;   
}
.skill{
    padding: 50px;
    padding-top: 10px;
}
.skill img{
    height: 200px;
    width: 200px;
}
.skill h3{
    padding: 20px;
}

/* PROJECTS section */
.projects{
    background-color: darkorchid;
    width: 100%;
}
.projects h1{
    padding: 20px;
    padding-left: 700px;
}
.projects img{
    padding: 15px;
    padding-left: 700px;
}
.projects .content{
    width: 600px;
    padding: 20px;
}
.projects p{
    padding: 10px;
    margin: 20px;
}
.projects a{
    text-decoration: none;
    padding: 10px;
    margin-left: 30px;
    margin-top: 20px;
    border: none;
    border-radius: 0%20px;
    background-color: rgb(213, 221, 197);
}
.project1 .content{
    position: absolute;
    top: 1600px;
    left: 30px;
}
.project2 .content{
    position: absolute;
    top: 2000px;
    left: 30px;
}
.project3 .content{
    position: absolute;
    top: 2400px;
    left: 30px;
}

/* CONTACT ME section */
.contact{
    background-color: rgb(20, 122, 255);
    width: 100%;
    height: 500px;
}
.contact h1{
    padding: 20px;
    padding-left: 700px;
}
.contact .details{
    padding: 40px;
    padding-left: 200px;
}
.details h3{
    padding: 20px;
}
.details .address{
    width: 500px;
}
.form{
    position: absolute;
    top: 2850px;
    right: 200px;
    border: 2px solid #0000006f;
    padding: 50px;
}
.form ul{
    list-style: none;
    margin-top: -30px;
}
.form input{
    padding: 10px;
    margin: 10px;
    width: 300px;
    border-radius: 0px;
    border: none;
}
#query{
    width: 300px;
    height: 100px;
}
.form button{
    padding: 10px;
    width: 30%;
    position: relative;
    left: 100px;
    top: 10px;
    border-radius: 100px;
}
